
.Navbar{
    background-color: white;
    height: 50px;
   
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
}
li{
    list-style-type: none;
}
a{
    color:black;
    text-decoration: none;
}
h1{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: rgba(86, 151, 48, 0.89);
}
div{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.text{
    font-size: 20px;
}
footer{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


